body  {
  background-color:white;
  margin:0px;
  font-family:"Times New Roman" "open sans" "PT sans" sans-serif;
}

.container  {

    display:flex;
    justify-content:center;
    background-color:#1f2937;
    padding-bottom:80px;
}

.logo {
    display:flex;
    font-size:24px;
    color:#F9FAF8;
    margin-bottom:20px;
}

.main { 
    display:flex;
    font-size:48px;
    font-weight:700;
    color:#F9FAF8;
    margin-right:40px;
    justify-content:center;
    text-align:center;

}

.link-text  {
    font-size:18px;
    color:#E5E7EB;
    justify-content:center;
    text-align:center;    
    margin-right:30px;
}

.links   {
    display:flex;
    justify-content:space-around;
    flex-shrink:1;
    color:#E5E7EB;
    margin-bottom:50px;
    margin-right:20px;
    

}

.button1  {

    display:flex;
    justify-content:end;
    background-color:rgb(12, 73, 187);
    color:white;
    border:none;
    text-align:center;
    margin-left:150px;
    padding:5px;
    border-radius:15px;

}

.dog  {
    display:flex;
    justify-content:center;
    align-items:center;
    margin-right:20px;
}

.container2  {
    display:flex;
    justify-content:center;
    text-align:center;
    background-color:#eceff3;
    gap:1rem;
    background-color:white;
}



.info-tab {
    display:flex;
    justify-content:center;
    font-size:36px;
    font-weight:700;
    color:#1f2937;
    background-color:white;
}

  

img  {
    border:5px solid #3882f6;
    border-radius:20px;
}


.husky, .pitbull, .chihuahua, .puppy  {
    color:#1f2937;
    font-weight:500;
}


.quote  {    
    text-align:center;
    font-size:36px;
    color:#1f3927;
    background-color:#e5e7eb;
    padding:120px;

}

.container3 {
    display:flex;
    justify-content:center;
    color:white;
    background-color:#3882f6;
    border:1px solid #3882f6;
    border-radius:5px;
    margin:100px;
    padding:20px;
}

.container4  {
    display:flex;
    justify-content:center;
    padding:10px;

    
}

.second-button  {  
    display:inline-block;
    color:white;
    background-color:#3882f6;
    border:2px solid white;
    text-align:center;
    border-radius:10px;
    margin:30px;
    padding:10px;
} 

footer {
    color:white;
    text-align:center;
    background-color:#1f2937;
    padding:50px;
}












